@model HomeIndexViewModel

@{
    ViewData["Title"] = "Bienvenido a Wallaboo";
}

<div class="text-center">
    <h1 class="display-4">WALLABOO</h1>
    <p>Bienvenido sistema de generacion de anuncios´para negocios</p>
</div>

@* <div> 
    <h3>Claims</h3>
    @if (User.Identity is not null && User.Identity.IsAuthenticated)
    {
        @foreach (var claim in User.Claims)
        {
            <p>@claim.Type - @claim.Value</p>
        }
    }
</div> *@

<div>

    @if (User.Identity is not null && User.Identity.IsAuthenticated)
    {
        <h3> Gestion de Anuncios</h3>
        <form method="post" class="row row-cols-lg-auto g-5 align-items-center">

            <div class="col-12">
                <label asp-for="Descripcion" class="form-label"></label>                
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="col-12">                
                <label asp-for="FechaDesde" class="form-label"></label>
                <input asp-for="FechaDesde" class="form-control" />
                <span asp-validation-for="FechaDesde" class="text-danger"></span>
            </div>
            <div class="col-12">                
                <label asp-for="FechaHasta" class="form-label"></label>
                <input asp-for="FechaHasta" class="form-control" />
                <span asp-validation-for="FechaHasta" class="text-danger"></span>
            </div>
            <div class="col-12">                
                <label asp-for="Precio" class="form-label"></label>
                <input asp-for="Precio" class="form-control" />
                <span asp-validation-for="Precio" class="text-danger"></span>
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Crear anuncio</button>
            </div>
        </form>
        <br />
        <div class="container align-items-xxl-center">
            @foreach (var anuncio in Model.Anuncios)
            {
                <table>
                    <tr>
                        <td><b>Descripcion del anuncio: </b>@anuncio.Descripcion</td>                        
                    </tr>
                    <tr>
                        <td><b>Fecha Desde: </b>@anuncio.FechaDesde</td>
                    </tr>
                    <tr>
                        <td><b>Fecha Hasta: </b>@anuncio.FechaHasta</td>
                    </tr>
                    <tr>
                        <td><b>Cantidad de dias a publicar: </b>@anuncio.CantidadDias</td>
                    </tr>
                    <tr>
                        <td><b>Precio: </b>@anuncio.Precio</td>
                    </tr>
                    <tr>
                        @if (@anuncio.Activo==1)
                        {
                            <td><b>Activo: </b>Si</td>
                        }else
                        {
                            <td><b>Activo: </b>No</td>
                        }
                    </tr>
                </table>
                <br />
            }
        </div>
    }
    else
    {
        <p>Logueate para que puedas crear y visualizar productos!</p>
    }

</div>

@* <div>
    <h3>Países</h3>
    <ul>
        @foreach (var país in Model.Paises)
        {
            <li>@país.NombrePais</li>
        }
    </ul>
</div> *@
