@model Wallaboo.Entities.Anuncio

@{
    ViewData["Title"] = "Eliminar Anuncio";
}

<div class="text-center mb-4">
    <h1>Eliminar Anuncio</h1>
@*     <h3>¿Está seguro de eliminar este anuncio?</h3> *@
</div>

<div class="container">
    <h4>Anuncio</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
@*         <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TenantId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TenantId)
        </dd> *@
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaDesde)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaDesde)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaHasta)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaHasta)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Precio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Precio)
        </dd>
@*         <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CantidadDias)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CantidadDias)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Activo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Activo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pagado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pagado)
        </dd> *@
    </dl>

    <br />
    <form asp-action="Delete" onsubmit="return confirmDelete();">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" />
        <br />
        <a asp-action="Index" class="btn btn-primary">Inicio</a>
    </form>
</div>

<script>
    function confirmDelete() {
        return confirm("¿Estás seguro de que deseas eliminar este anuncio?");
    }
</script>

