@model HomeIndexViewModel

@{
    ViewData["Title"] = "Detalles del Anuncio";
}

@if (User.Identity is not null && User.Identity.IsAuthenticated)
{
    <h2>Detalles del Anuncio</h2>

    <div>
        <hr />
        <div class="row">
            <div class="col-sm-2">
                <strong>@Html.DisplayNameFor(model => model.Descripcion)</strong>
            </div>
            <div class="col-sm-10">
                @Html.DisplayFor(model => model.Descripcion)
            </div>

            <div class="col-sm-2">
                <strong>@Html.DisplayName("Imágenes")</strong>
            </div>
            <div class="col-sm-10">
                @if (Model.ImagenesGuardadas != null && Model.ImagenesGuardadas.Any())
                {
                    foreach (var imagen in Model.ImagenesGuardadas)
                    {
                        var imagePath = imagen.Image1Path;
                        if (!string.IsNullOrEmpty(imagePath))
                        {
                            var relativePath = Url.Content($"~/uploads/{imagen.TenantId}/{System.IO.Path.GetFileName(imagePath)}");
                            <img src="@relativePath" alt="Imagen del anuncio" style="width: 150px; height: 150px; margin-right: 10px;" />
                        }
                    }
                }
                else
                {
                    // Mostrar la imagen predeterminada cuando no hay imágenes disponibles
                    <img src="~/imagenes/NoFoto.png" alt="No hay imagen disponible" style="width: 150px; height: 150px; margin-right: 10px;" />
                }
            </div>

            <div class="col-sm-2">
                <strong>@Html.DisplayNameFor(model => model.FechaDesde)</strong>
            </div>
            <div class="col-sm-10">
                @Html.DisplayFor(model => model.FechaDesde)
            </div>

            <div class="col-sm-2">
                <strong>@Html.DisplayNameFor(model => model.FechaHasta)</strong>
            </div>
            <div class="col-sm-10">
                @Html.DisplayFor(model => model.FechaHasta)
            </div>

            <div class="col-sm-2">
                <strong>@Html.DisplayNameFor(model => model.Precio)</strong>
            </div>
            <div class="col-sm-10">
                @Html.DisplayFor(model => model.Precio)
            </div>

            <div class="col-sm-2">
                <strong>@Html.DisplayNameFor(model => model.CantidadDias)</strong>
            </div>
            <div class="col-sm-10">
                @Html.DisplayFor(model => model.CantidadDias)
            </div>

            <div class="col-sm-2">
                <strong>@Html.DisplayNameFor(model => model.Activo)</strong>
            </div>
            <div class="col-sm-10">
                @(Model.Activo == 1 ? "Sí" : "No")
            </div>

            <div class="col-sm-2">
                <strong>@Html.DisplayNameFor(model => model.Pagado)</strong>
            </div>
            <div class="col-sm-10">
                @(Model.Pagado == 1 ? "Sí" : "No")
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md-4">
            <a asp-action="Edit" asp-route-id="@Model?.ID" class="btn btn-secondary w-100 btn-fixed">Editar</a>
        </div>
        <div class="col-md-4">
            <a asp-action="Index" class="btn btn-primary w-100 btn-fixed">Volver</a>
        </div>
    </div>
}
else
{
    <div class="text-center">
        <h3>¡Inicia sesión para crear y visualizar anuncios!</h3>
    </div>
}
