@model IEnumerable<Wallaboo.Entities.Anuncio>

@{
    ViewData["Title"] = "Bienvenido a Wallaboo - Listado de Anuncios";
}
<div class="text-center">
    <h1 class="display-4">WALLABOO</h1>
</div>

    @if (User.Identity is not null && User.Identity.IsAuthenticated)
    {
        <h1>Listado de Anuncios</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
@*             <th>
                @Html.DisplayNameFor(model => model.TenantId)
            </th> *@
            <th>
                @* @Html.DisplayNameFor(model => model.FechaDesde) *@
                @Html.DisplayName("Activo desde:")
            </th>
            <th>                
                @* @Html.DisplayNameFor(model => model.FechaHasta) *@
                @Html.DisplayName("Activo hasta:")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.CantidadDias) *@
                @Html.DisplayName("Dias Activo")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Activo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pagado)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
@*             <td>
                @Html.DisplayFor(modelItem => item.TenantId)
            </td> *@
            <td>
                    @Html.DisplayFor(modelItem => item.FechaDesde)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.FechaHasta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CantidadDias)
            </td>
            <td>
                @* @Html.DisplayFor(modelItem => item.Activo) *@
                        @if ((item.Activo == 1) && (item.FechaHasta >= DateTime.Now))
                        {
                            @Html.DisplayName("Si")
                        }
                        else
                        {
                            @Html.DisplayName("No")
                        }
            </td>
            <td>
                @* @Html.DisplayFor(modelItem => item.Pagado) *@
                        @if (item.Pagado == 1)
                        {
                            @Html.DisplayName("Si")
                        }
                        else
                        {
                            @Html.DisplayName("No")
                            @* <a asp-action="Pagar" asp-route-id="@item.Id" class="btn btn-success" type="Hidden">Pagar</a> *@
                        } 
            </td>
            <td>
                        @if (item.Pagado == 0)
                        {
                            <a asp-action="Pay" asp-route-id="@item.Id" class="btn btn-success btn-sm">Pagar</a>
                        }
                        
            </td>
            <td>
                @* <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-secondary">Editar</a>  *@
                        @if ((item.FechaHasta >= DateTime.Now) && (item.Pagado==0))
                        {
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-secondary btn-sm">Editar</a>
                        }
                        
                @* <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Detalles</a> | *@           
            </td>
            <td>
                        @if (item.Pagado == 0)
                        {
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Eliminar</a>
                        }                        
            </td>
        </tr>
}
    </tbody>
</table>
    <p>
        <a asp-action="Create" class="btn btn-primary">Crea una nueva oferta o anuncio</a>
    </p>
}
else
{
    <div class="d-flex justify-content-center">
        <div class="card-group">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        @* <img src="..." class="card-img-top" alt="..."> *@
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            @*                            <a href="#" class="btn btn-primary">Go somewhere</a> *@
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        @* <img src="..." class="card-img-top" alt="..."> *@
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            @*                            <a href="#" class="btn btn-primary">Go somewhere</a> *@
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        @* <img src="..." class="card-img-top" alt="..."> *@
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            @*                             <a href="#" class="btn btn-primary">Go somewhere</a> *@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}