@using System.IO;  <!-- Asegúrate de incluir esta línea -->
@model IEnumerable<Wallaboo.Entities.Anuncio>

@{
    ViewData["Title"] = "Bienvenido a Wallaboo - Listado de Anuncios";
}

@if (User.Identity is not null && User.Identity.IsAuthenticated)
{
    <div style="display: flex; align-items: center;">
        <h2 style="margin-right: 10px;">Mis Anuncios</h2>
        <a asp-action="Create" class="btn btn-primary btn-fixed">Nuevo Anuncio</a>
    </div>
    <div class="table-container">
        <table class="table table-bordered">
            <thead class="table-light">
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Descripcion)</th>
                    <th>@Html.DisplayName("Activo desde:")</th>
                    <th>@Html.DisplayName("Activo hasta:")</th>
                    <th>@Html.DisplayNameFor(model => model.Precio)</th>
                    <th>@Html.DisplayName("Días Activo")</th>
                    <th>@Html.DisplayName("Activo")</th>
                    <th>@Html.DisplayName("Pagado")</th>
                    <th>Imagenes</th> <!-- Nueva columna para las imágenes -->
                    <th>Acciones</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    // Verificar si queda solo un día para el vencimiento
                    bool isExpiringSoon = (item.FechaHasta.Date == DateTime.Now.AddDays(1).Date);

                    // Aplicar la clase 'highlight' si está a un día de vencimiento
                    string rowClass = isExpiringSoon ? "highlight" : "";

                    <tr class="@rowClass">
                        <td style="vertical-align: top;">@Html.DisplayFor(modelItem => item.Descripcion)</td>
                        <td style="vertical-align: top;">@item.FechaDesde.ToString("g")</td>
                        <td style="vertical-align: top;">@item.FechaHasta.ToString("g")</td>
                        <td style="vertical-align: top;">@item.Precio.ToString("C", System.Globalization.CultureInfo.CurrentCulture)</td>
                        <td style="vertical-align: top;">@item.CantidadDias</td>
                        <td style="vertical-align: top;">@(item.Activo == 1 ? "Sí" : "No")</td>
                        <td style="vertical-align: top;">@(item.Pagado == 1 ? "Sí" : "No")</td>
                        <td style="vertical-align: top;">
                            @{
                                var imagePath = "~/imagenes/NoFoto.png"; // Ruta de la imagen predeterminada
                                bool hasImage = false; // Bandera para verificar si hay imagen

                                foreach (var imagen in item.Imagenes)
                                {
                                    if (!string.IsNullOrEmpty(imagen.Image1Path))
                                    {
                                        // Asegurarse de que imagePath contenga solo el nombre del archivo
                                        imagePath = Url.Content($"~/uploads/{item.TenantId}/{System.IO.Path.GetFileName(imagen.Image1Path)}");
                                        hasImage = true;
                                        break; // Salir del bucle si se encuentra una imagen
                                    }
                                }
                            }
                            <img src="@Url.Content(imagePath)" alt="Imagen de anuncio" style="width:100px;height:auto;" />
                        </td>
                        <td style="vertical-align: top;">
                            <div class="d-flex justify-content-between">
                                <div class="col text-center">
                                    @if ((item.Pagado == 0) && (item.FechaDesde >= DateTime.Now))
                                    {
                                        <a asp-action="Pay" asp-route-id="@item.Id" class="btn btn-success btn-fixed" title="Pagar"><i class="fas fa-money-bill-wave"></i> Pagar</a>
                                    }
                                </div>
                                <div class="col text-center">
                                    @if ((item.Pagado == 0))
                                    {
                                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-secondary btn-fixed" title="Editar"><i class="fas fa-edit"></i> Editar</a>
                                    }
                                </div>
                                <div class="col text-center">
                                    @if (item.Pagado == 0)
                                    {
                                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-fixed" title="Eliminar"><i class="fas fa-trash-alt"></i> Eliminar</a>
                                    }
                                </div>
                                <div class="col text-center">
                                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info btn-fixed" title="Detalles"><i class="fas fa-info-circle"></i> Detalles</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <div class="text-center mb-4">
        <h1 class="display-4 font-weight-bold text-center">Wallaboo</h1>
        <p class="lead mt-3">La solución ideal para negocios y profesionales: publica tus ofertas en un instante y permite a tus clientes acceder a ellas fácilmente a través de un simple escaneo de código QR.</p>
    </div>

    <div class="container mt-5">
        <div class="d-flex justify-content-center">
            <div class="card-group">
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    <div class="col">
                        <div class="card">
                            <img src="~/imagenes/Almacen.png" class="card-img-top" alt="Gestión de Ofertas">
                            <div class="card-body text-center">
                                <h5 class="card-title">Gestiona tus Ofertas</h5>
                                <p class="card-text">Crea y maneja tus ofertas de forma rápida y efectiva para atraer a más clientes!.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="~/imagenes/QrCode.png" class="card-img-top" alt="Generación de Códigos QR">
                            <div class="card-body text-center">
                                <h5 class="card-title">Genera Códigos QR</h5>
                                <p class="card-text">Facilita que tus clientes descubran todas tus ofertas al escanear un único código QR.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="~/imagenes/Soporte.png" class="card-img-top" alt="Soporte al Cliente">
                            <div class="card-body text-center">
                                <h5 class="card-title">Soporte al Cliente</h5>
                                <p class="card-text">Estamos aquí para ayudarte. Contáctanos si tienes preguntas sobre nuestras funciones!.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
